@import "module/header.scss";
@import "module/footer.scss";
* {
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	list-style: none;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 12px;
}

img {
	vertical-align: top;
}

a {
	outline: none;
	text-decoration: none;
}
div{
	display: block;
}
.full {
	min-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.cartList {
	position: absolute;
	width: 80px;
	padding-left: 10px;
	z-index: 5;
	left: -2px;
	top: 0;
	height: 40px;
	border: 1px solid #ffcc00;
	border-bottom: none;
}

.cartLiHover {
	background: white;
	border-color: #ccc;
}

.cartList a {
	display: block;
	margin-left: 10px;
}

.navLine {
	display: block;
	line-height: 25px;
}

.icon {
	display: block;
	background: url(../images/icon.png) no-repeat;
}

.orderListIcon {
	width: 14px;
	height: 10px;
	background-position: -66px 0;
	margin-top: 8px;
}

.MyFavIcon {
	width: 14px;
	height: 11px;
	background-position: -84px 0;
	margin-top: 8px;
}

.wx_icon {
	width: 12px;
	height: 12px;
	background: url(../images/wx_icon.png) no-repeat;
	display: block;
	margin-top: 8px;
}

.cartListIcon {
	width: 16px;
	height: 13px;
	margin-top: 3px;
	background-position: -100px 0;
}

.count {
	width: 18px;
	height: 13px;
	position: absolute;
	background-position: -117px 0;
	top: -8px;
	font-size: 9px;
	color: white;
	text-align: center;
	line-height: 11px;
	left: 21px;
}

.cartDetail {
	width: 320px;
	background: white;
	border: 1px solid #ccc;
	position: absolute;
	right: 0;
	top: 39px;
	z-index: 3;
	display: none;
}

.empty_tip {
	line-height: 102px;
	padding-left: 10px;
	color: #333;
}

.cart_ul {
	padding-left: 13px;
	padding-top: 10px;
}

.cart_ul li {
	height: 40px;
	width: 305px;
	overflow: hidden;
	margin-bottom: 14px;
}

.nav_menu .cart_ul li a {
	display: block;
	line-height: 40px;
	color: #999;
}

.cart_img {
	border: 1px solid #ccc;
	margin-right: 12px;
}

.cart_ul li img {
	width: 38px;
	height: 38px;
}

.cart_item_name {
	line-height: 20px;
	color: #333;
	width: 120px;
	margin-right: 20px;
}

.cart_item_count {
	line-height: 40px;
	color: #ff0000;
	width: 70px;
}

.cart_item_count span {
	color: #333;
}

.cart_count {
	height: 40px;
	background: #efefef;
	padding-left: 13px;
}

.cart_count p {
	padding-left: 15px;
	color: #999;
	line-height: 40px;
}

.cart_count a {
	display: block;
	width: 88px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #ff9000;
	color: white;
	margin-right: 10px;
	margin-top: 8px;
}

.cart_count a:hover {
	background: #ff6000;
	text-decoration: none;
}

.cart_operate {
	clear: both;
	margin-top: 30px;
	height: 75px;
	line-height: 75px;
}

.cart_operate li {
	height: 75px;
}

.operate_checkbox {
	width: 70px;
	height: 75px;
	color: #666;
	text-align: center;
}

.operate_checkbox input {
	margin-right: 5px;
	vertical-align: middle;
}

.cart_operate a {
	padding: 0 10px;
	color: #ff9000;
}

.cart_operate li.total {
	color: #333;
	font-size: 24px;
}

.cart_operate li.total p {
	line-height: 30px;
	font-size: 18px;
}

.cart_operate li.total span {
	color: red;
}

.balance_btn {
	display: block;
	width: 220px;
	height: 60px;
	font-size: 24px;
	color: white;
	line-height: 60px;
	text-align: center;
	background: #ff9000;
}

.balance_btn:hover {
	background: #f46a2e;
	text-decoration: none;
}


/*-主体内容-*/
.mainbar {
	background: #FFF;
}
.swiper-container-horizontal {
	margin-bottom: 20px;
}
#index_hot {
	margin: 0 auto;
	min-height: 193px;
	min-width: 1240px;
	width: 80%;
	zoom: 1;
	overflow: hidden;
}

#index_hot li {
	width: 25%;
	*margin-right: -1px;
	float: left;
	min-height: 193px;
	text-align: center;
	zoom: 1;
}

#index_hot li a {
	display: block;
	margin: 0px auto;
	width: 80%;
	min-height: 193px;
	font-size: 16px;
	text-decoration: none;
	color: #333;
}

#index_hot li a img {
	display: block;
	width: 100%;
	min-height: 193px;
	//vertical-align: bottom;
}

#index_hot li a:hover {
	text-decoration: none;
}

#index_hot li p {
	color: #000;
	font-size: 22px;
	line-height: 25px;
}